.home-container {
    display: flex;
    justify-content: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8em;
}

.home-form {
    margin-top: 30%;
    text-align: center;
}

.home-id, .home-password {
    margin-bottom: 30px;
    border-radius: 10px;
}
.home-errorText {
    height: 5%;
}
.home-submit {
    border-radius: 10px;
    padding: 15px 75px;
    border: 2px solid #777;
    background-color: #0E1E3D;
    color: #fff;

}
.home-submit:hover {opacity: 0.8;}

.home-submit:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

