.welcome-header {
  font-family: 'Nanum Pen Script', cursive;
  text-align: left;
  margin-bottom: 30px;
}

.homeSummary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
  background-color: #f4da6c;
  border-radius: 30px;
  font-family: "Spoqa Han Sans", "Sans-serif";
}
.issuboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.noticeBoard {
  margin-top: 15px;
  background-color: #fcfcfc;
  font-family: "Spoqa Han Sans", "Sans-serif";
  border-radius: 30px;
  padding: 10px;
}
.boardInput {
  width: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.notice-submit {
  margin-left: 5px;
  border-radius: 10px;
  padding: 1px 7px;
  border: 2px solid #777;
  background-color: #0e1e3d;
  color: #fff;
}
.notice-input {
  border-radius: 10px;
  padding: 1px 7px;
}
.submit-container {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .submit-container {
    width: 300px;
  }
  h3 {
    font-size: 20px;
  }
}
